{% extends 'base.html.twig' %}

{% block title %}QuestionQcm index{% endblock %}

{% block body %}
<div class="FormationIndex">

    <h1>QuestionQcm index</h1>
<div class="container">
    <table class="table table-bordered">
    
        <thead>
            <tr>
                <th>Id</th>
                
                <th>Detail</th>
                <th>Choix1</th>
                <th>Detail_choix1</th>
                <th>Choix2</th>
                <th>Detail_choix2</th>
                <th>Choix3</th>
                <th>Detail_choix3</th>
                <th>Choix4</th>
                <th>Detail_choix4</th>
                <th>Reponse</th>
                <th>Note</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for question_qcm in question_qcms %}
            <tr>
                <td>{{ question_qcm.id }}</td>
                {# <td>{{ question_qcm.image }}</td> #}
                <td>{{ question_qcm.detail }}</td>
                <td>{{ question_qcm.choix1 }}</td>
                <td>{{ question_qcm.detailChoix1 }}</td>
                <td>{{ question_qcm.choix2 }}</td>
                <td>{{ question_qcm.detailChoix2 }}</td>
                <td>{{ question_qcm.choix3 }}</td>
                <td>{{ question_qcm.detailChoix3 }}</td>
                <td>{{ question_qcm.choix4 }}</td>
                <td>{{ question_qcm.detailChoix4 }}</td>
                <td>{{ question_qcm.reponse }}</td>
                <td>{{ question_qcm.note }}</td>
                <td>
                    <a href="{{ path('app_question_qcm_show', {'id': question_qcm.id}) }}">show</a>
                    <a href="{{ path('app_question_qcm_edit', {'id': question_qcm.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="14">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
    <a href="{{ path('app_question_qcm_new') }}">Create new</a>
    </div>
{% endblock %}
