{% extends 'base.html.twig' %}

{% block title %}QuestionQcm{% endblock %}

{% block body %}
    <h1>QuestionQcm</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ question_qcm.id }}</td>
            </tr>
            <tr>
                <th>Detail</th>
                <td>{{ question_qcm.detail }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_question_qcm_index') }}">back to list</a>

    <a href="{{ path('app_question_qcm_edit', {'id': question_qcm.id}) }}">edit</a>

    {{ include('question_qcm/_delete_form.html.twig') }}
{% endblock %}
