{% extends 'base.html.twig' %}

{% block title %}QuestionQcm{% endblock %}

{% block body %}
<style>
.imgQcm{
    width:50%;
}
.queQcm{
     justify-content: center;
     border-color: black;
}

</style>
    <h1>Question Qcm</h1>
   <div cllass="queQcm">
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ question_qcm.id }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td><img class="imgQcm" src={{ asset('/images/products/'~question_qcm.imageName) }}></td>
            </tr>
            <tr>
                <th>Detail</th>
                <td>{{ question_qcm.detail }}</td>
            </tr>
            <tr>
                <th>Choix1</th>
                <td>{{ question_qcm.choix1 }}</td>
            </tr>
            <tr>
                <th>Detail_choix1</th>
                <td>{{ question_qcm.detailChoix1 }}</td>
            </tr>
            <tr>
                <th>Choix2</th>
                <td>{{ question_qcm.choix2 }}</td>
            </tr>
            <tr>
                <th>Detail_choix2</th>
                <td>{{ question_qcm.detailChoix2 }}</td>
            </tr>
            <tr>
                <th>Choix3</th>
                <td>{{ question_qcm.choix3 }}</td>
            </tr>
            <tr>
                <th>Detail_choix3</th>
                <td>{{ question_qcm.detailChoix3 }}</td>
            </tr>
            <tr>
                <th>Choix4</th>
                <td>{{ question_qcm.choix4 }}</td>
            </tr>
            <tr>
                <th>Detail_choix4</th>
                <td>{{ question_qcm.detailChoix4 }}</td>
            </tr>
            <tr>
                <th>Reponse</th>
                <td>{{ question_qcm.reponse }}</td>
            </tr>
            <tr>
                <th>Note</th>
                <td>{{ question_qcm.note }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_question_qcm_index') }}">back to list</a>

    <a href="{{ path('app_question_qcm_edit', {'id': question_qcm.id}) }}">edit</a>

    {{ include('question_qcm/_delete_form.html.twig') }}
    </div>
{% endblock %}
