{% extends 'base.html.twig' %}

{% block title %}Formation index{% endblock %}

{% block body %}
<div class="FormationIndex">
    <h1>Les Formations </h1>
    <div class="container">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>ville</th>
                <th>Annee</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for formation in formations %}
            <tr>
                <td>{{ formation.id }}</td>
                <td>{{ formation.nom }}</td>
                <td>{{formation.ville}}</td>
                <td>{{ formation.annee }}</td>
                <td>
                    <a href="{{ path('app_formation_show', {'id': formation.id}) }}">show</a>
                    <a href="{{ path('app_formation_edit', {'id': formation.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
     <div class="thematiqueflo">
        <a href="{{ path('app_candidat_index') }}">Liste Candidats</a>
        <a href="{{ path('app_thematique_index') }}">Les Tests </a>
        <a href="{{ path('app_resultat_index') }}">Les resultats</a>
        <a href="{{ path('app_promotion_index') }}">Les Promotion</a>
    </div>

    </div>
    <button class="btnFormationMichel"><a href="{{ path('app_formation_new') }}">Crée une formation</a></button>
</div>
{% endblock %}
