{% extends 'base.html.twig' %}

{% block title %}Formation{% endblock %}

{% block body %}
<div class="FormationIndex">
    <h1>Formation: {{formation.nom}}</h1>
	<div class="container">

    <table class="table table-bordered">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ formation.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ formation.nom }}</td>
            </tr>
            <tr>
                <th>Annee</th>
                <td>{{ formation.annee }}</td>
            </tr>
        </tbody>
    </table>
</div>
    <a href="{{ path('app_formation_index') }}">back to list</a>

    <a href="{{ path('app_formation_edit', {'id': formation.id}) }}">edit</a>
            {{ include('formation/_delete_form.html.twig') }}
</div>
{% endblock %}
