{% extends 'base.html.twig' %}

{% block title %}Choix{% endblock %}

{% block body %}
    <h1>Choix</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ choix.id }}</td>
            </tr>
            <tr>
                <th>Choix</th>
                <td>{{ choix.choix }}</td>
            </tr>
            <tr>
                <th>Detail</th>
                <td>{{ choix.detail }}</td>
            </tr>
            <tr>
                <th>Reponse</th>
                <td>{{ choix.reponse }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_choix_index') }}">back to list</a>

    <a href="{{ path('app_choix_edit', {'id': choix.id}) }}">edit</a>

    {{ include('choix/_delete_form.html.twig') }}
{% endblock %}
