{% extends 'base.html.twig' %}

{% block title %}DernierEmploiStage index{% endblock %}

{% block body %}
    <h1>DernierEmploiStage index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>dossier_id</th>
                <th>Annee</th>
                <th>Duree</th>
                <th>Nom_entreprise</th>
                <th>Ville</th>
                <th>Poste_occupe</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for item in dernierEmploiStage %}
            <tr>
                <td>{{ item.id }}</td>
                <td>{{item.dossierId.id}}
                <td>{{ item.annee }}</td>
                <td>{{ item.duree }}</td>
                <td>{{ item.nomEntreprise }}</td>
                <td>{{ item.ville }}</td>
                <td>{{ item.posteOccupe }}</td>
                <td>
                    <a href="{{ path('app_dernier_emploi_stage_show', {'id': item.id}) }}">show</a>
                    <a href="{{ path('app_dernier_emploi_stage_edit', {'id': item.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
            {{ dump(dernierEmploiStage) }}
        </tbody>
    </table>

    <a href="{{ path('app_dernier_emploi_stage_new') }}">Create new</a>
{% endblock %}
