{% extends 'base.html.twig' %}

{% block title %}Dossier index{% endblock %}

{% block body %}
    <h1>Dossier index</h1>
    <div class="container">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Formation_initiale</th>
                <th>Experience_pro</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>

        {% for item in dossier %}
        
            <tr>
                <td>{{ item.id }}</td>
                <td>{{ item.formationInitiale }}</td>
                <td>{{ item.experiencePro }}</td>
                <td>
                    <a href="{{ path('app_dossier_show', {'id': item.id}) }}">show</a>
                    <a href="{{ path('app_dossier_edit', {'id': item.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                {# <td colspan="4">no records found</td> #}
            </tr>
        {% endfor %}
        {{ dump(dossier.0) }}
        </tbody>
    </table>
    </div>

    <a href="{{ path('app_dossier_new') }}">Create new</a>
{% endblock %}
