{% extends 'base.html.twig' %}

{% block title %}Dossier index
{% endblock %}

{% block body %}
	<h1>Dossier index</h1>

	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Nom</th>
				<th>prenom</th>
				<th>mail</th>
				<th>ville</th>
				<th>annee</th>

				<th>Formation_initiale</th>
				<th>Experience_pro</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for dossier in dossiers %}
				<tr>
					<td>{{ dossier.id }}</td>
					<td>{{dossier.candidat.nom}}</td>
					<td>{{dossier.candidat.prenom}}</td>
					<td>{{dossier.candidat.mail}}</td>
					<td>{{dossier.candidat.ville}}</td>
					<td>{{dossier.annee}}</td>

					<td>{{ dossier.formationInitiale }}</td>
					<td>{{ dossier.experiencePro }}</td>
					<td>
						<a href="{{ path('app_dossier_show', {'id': dossier.id}) }}">show</a>
						<a href="{{ path('app_dossier_edit', {'id': dossier.id}) }}">edit</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="4">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<a href="{{ path('app_dossier_new') }}">Create new</a>
{% endblock %}
