{% extends 'base.html.twig' %}

{% block title %}Dossier{% endblock %}

{% block body %}
    <h1>Dossier</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ dossier.id }}</td>
            </tr>
            <tr>
                <th>Formation_initiale</th>
                <td>{{ dossier.formationInitiale }}</td>
            </tr>
            <tr>
                <th>Experience_pro</th>
                <td>{{ dossier.experiencePro }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_dossier_index') }}">back to list</a>

    <a href="{{ path('app_dossier_edit', {'id': dossier.id}) }}">edit</a>

    {{ include('dossier/_delete_form.html.twig') }}
{% endblock %}
