<<<<<<< HEAD
{% extends 'nav_admin.html.twig' %}

{% block title %}Questions index{% endblock %}

{% block body %} 
{% block nav_admin %}
   
{% endblock %}

=======
{% extends 'base.html.twig' %}

{% block title %}Questions index{% endblock %}

{% block body %}
>>>>>>> 5f86a7e (fix)
    <h1>Questions index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Detail</th>
                <th>Image</th>
                <th>Note</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for question in questions %}
            <tr>
                <td>{{ question.id }}</td>
                <td>{{ question.detail }}</td>
                <td>{{ question.image }}</td>
                <td>{{ question.note }}</td>
                <td>
                    <a href="{{ path('app_questions_show', {'id': question.id}) }}">show</a>
                    <a href="{{ path('app_questions_edit', {'id': question.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_questions_new') }}">Create new</a>
{% endblock %}
