{% extends 'base.html.twig' %}

{% block title %}QuestionRemplir index{% endblock %}

{% block body %}
    <h1>QuestionRemplir index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Detail</th>
                <th>Detail_1</th>
                <th>Reponse1</th>
                <th>Detail2</th>
                <th>Reponse2</th>
                <th>Detail3</th>
                <th>Reponse3</th>
                <th>Detail4</th>
                <th>Reponse4</th>
                <th>Note</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for question_remplir in question_remplirs %}
            <tr>
                <td>{{ question_remplir.id }}</td>
                <td>{{ question_remplir.detail }}</td>
                <td>{{ question_remplir.detail1 }}</td>
                <td>{{ question_remplir.reponse1 }}</td>
                <td>{{ question_remplir.detail2 }}</td>
                <td>{{ question_remplir.reponse2 }}</td>
                <td>{{ question_remplir.detail3 }}</td>
                <td>{{ question_remplir.reponse3 }}</td>
                <td>{{ question_remplir.detail4 }}</td>
                <td>{{ question_remplir.reponse4 }}</td>
                <td>{{ question_remplir.note }}</td>
                <td>
                    <a href="{{ path('app_question_remplir_show', {'id': question_remplir.id}) }}">show</a>
                    <a href="{{ path('app_question_remplir_edit', {'id': question_remplir.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="12">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_question_remplir_new') }}">Create new</a>
{% endblock %}
