{% extends 'base.html.twig' %}

{% block title %}QuestionRemplir{% endblock %}

{% block body %}
    <h1>QuestionRemplir</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ question_remplir.id }}</td>
            </tr>
            <tr>
                <th>Detail</th>
                <td>{{ question_remplir.detail }}</td>
            </tr>
            <tr>
                <th>Reponse</th>
                <td>{{ question_remplir.reponse }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_question_remplir_index') }}">back to list</a>

    <a href="{{ path('app_question_remplir_edit', {'id': question_remplir.id}) }}">edit</a>

    {{ include('question_remplir/_delete_form.html.twig') }}
{% endblock %}
