{% extends 'base.html.twig' %}

{% block title %}QuestionCorriger index{% endblock %}

{% block body %}
    <h1>QuestionCorriger index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Detail</th>
                <th>Reponse</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for question_corriger in question_corrigers %}
            <tr>
                <td>{{ question_corriger.id }}</td>
                <td>{{ question_corriger.detail }}</td>
                <td>{{ question_corriger.reponse }}</td>
                <td>
                    <a href="{{ path('app_question_corriger_show', {'id': question_corriger.id}) }}">show</a>
                    <a href="{{ path('app_question_corriger_edit', {'id': question_corriger.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_question_corriger_new') }}">Create new</a>
{% endblock %}
