{% extends 'base.html.twig' %}

{% block title %}Candidat{% endblock %}

{% block body %}
    <h1>Candidat</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ candidat.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ candidat.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ candidat.prenom }}</td>
            </tr>
            <tr>
                <th>Mail</th>
                <td>{{ candidat.mail }}</td>
            </tr>
            <tr>
                <th>Genre</th>
                <td>{{ candidat.genre }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ candidat.adresse }}</td>
            </tr>
            <tr>
                <th>Ville</th>
                <td>{{ candidat.ville }}</td>
            </tr>
            <tr>
                <th>Code_postal</th>
                <td>{{ candidat.codePostal }}</td>
            </tr>
            <tr>
                <th>Telephone_fixe</th>
                <td>{{ candidat.telephoneFixe }}</td>
            </tr>
            <tr>
                <th>Telephone_portable</th>
                <td>{{ candidat.telephonePortable }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_candidat_index') }}">back to list</a>

    <a href="{{ path('app_candidat_edit', {'id': candidat.id}) }}">edit</a>

    {{ include('candidat/_delete_form.html.twig') }}
{% endblock %}
