{% extends 'base.html.twig' %}

{% block title %}UsersCCI{% endblock %}

{% block body %}
    <h1>UsersCCI</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ users_c_c_i.id }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ users_c_c_i.email }}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>{{ users_c_c_i.roles ? users_c_c_i.roles|json_encode : '' }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ users_c_c_i.password }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_users_c_c_i_index') }}">back to list</a>

    <a href="{{ path('app_users_c_c_i_edit', {'id': users_c_c_i.id}) }}">edit</a>

    {{ include('users_cci/_delete_form.html.twig') }}
{% endblock %}
